<h2 class="add">Add New Participants</h2>

<div class="demo">
    <form [formGroup]="participantForm" (ngSubmit)="submit()">

        <h3><a (click)="addBooks()">Add Books</a></h3><br>

        <h3>Add Ciments</h3><br>

        <h3>Add People</h3><br><br>

        <button type="submit">Submit</button>

    </form>
</div>













<!-- <select name="demo">
    <option selected="selected" value="one">Person</option> 
    <option value="two">Book</option>
</select> -->

<!-- <label>Participant Name: </label>
    <input type="text" formControlName="name"><br><br>

    <label>Quantity: </label>
    <input type="text" formControlName="quantity"><br><br>

    <label>Rate: </label>
    <input type="text" formControlName="rate"><br><br> -->

<!-- <input type="checkbox" formControlName="name" (click)="addBooks()">Books<br><br> -->