.demo {
    margin-left: 40%;
}

.add {
    margin-top: 10%;
    margin-left: 40%;
}

h3 {
    cursor: pointer;
}

.icon1 {
    margin-left: 4%;
    margin-right: 2%;
    cursor: pointer;
}

.icon2 {
    cursor: pointer;
}