<h2 class="add">Add New Participants</h2>

<div class="demo">
    <form [formGroup]="participantForm" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput formControlName="name" placeholder="Enter Participant Name" autocomplete="false">
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select formControlName="type">
                <mat-option value="material">Material</mat-option>
                <mat-option value="person">Person</mat-option>
                <mat-option value="electricity">Electricity</mat-option>
                <mat-option value="vehical">Vehical</mat-option>
                <mat-option value="other">Other</mat-option>
            </mat-select>
        </mat-form-field><br><br>

        <button mat-raised-button color="primary" type="submit">Save</button> &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="reset()">Reset</button>

    </form>
</div>













<!-- <select name="demo">
    <option selected="selected" value="one">Person</option> 
    <option value="two">Book</option>
</select> -->

<!-- <label>Participant Name: </label>
    <input type="text" formControlName="name"><br><br>

    <label>Quantity: </label>
    <input type="text" formControlName="quantity"><br><br>

    <label>Rate: </label>
    <input type="text" formControlName="rate"><br><br> -->

<!-- <input type="checkbox" formControlName="name" (click)="addBooks()">Books<br><br> -->