<h2 class="add">Add Attributes</h2>

<div class="demo">
    <form>
        <mat-checkbox type="checkbox">Quantity</mat-checkbox><br>
        <mat-checkbox type="checkbox">Cost</mat-checkbox><br>
        <mat-checkbox type="checkbox">Brand</mat-checkbox><br>
        <mat-checkbox type="checkbox">Current</mat-checkbox><br>
        <mat-checkbox type="checkbox">Unit</mat-checkbox><br>
        <mat-checkbox type="checkbox">Voltage</mat-checkbox><br><br>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</div>